{% load static %}
<section class="cmt-row aboutus-section cmt-bgcolor-white clearfix">
  <div class="container">
    <div class="row">
      <!-- row -->
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="cmt_single_image-wrapper pr-5">
          <img class="img-fluid" src="{% static 'web/images/indeximages/ABOUT.png' %}" title="single-img-one" alt="single-img-one" />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="spacing-16">
          <!-- section title -->
          <div class="section-title clearfix">
            <div class="title-header">
              <h3>About Us</h3>
              <h2 class="title">Welcome to Jaladhara Borewells - Your Water Solution Experts!</h2>
            </div>
          </div>
          <!-- section title end -->
          <div class="mb-15">Jaladhara Borewells is a government-registered borewell contractor with over 10 years of invaluable experience. Specializing in 5, 6, and 7-inch tube well construction, we provide permanent drinking water solutions through precision computerized surveying. Located on Perinthalmanna Road, Koppam, with a branch in Perinthalmanna, we offer a comprehensive range of services, including well drilling, re-boring, borewell cleaning, computerized borewell pointing, pump set fitting, and repairing. Our commitment to quality products, cost-effective solutions, and a decade of service excellence makes us your go-to partner for reliable water solutions.</div>
          <div class="cmt-horizontal_sep mt-15 mb-30 style2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
