{% load static %}
<!-- transport-section -->
<section class="cmt-row transport-services-section cmt-bg cmt-bgimage-yes bg-img8 clearfix">
  <div class="cmt-bg-layer cmt-row-wrapper-bg-layer"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="pr-150 res-767-pr-0">
          <!-- section title -->
          <div class="section-title">
            <div class="title-header">
              <h3>Connect with Jaladhara Borewells</h3>
              <h2 class="cmt-textcolor-white">Your Trusted Partner for Comprehensive Water Solutions!</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="featured-icon-box style6 left-icon icon-align-top d-flex">
          <div class="featured-icon">
            <!-- featured-icon -->
            <div class="cmt-icon cmt-icon_element-color-darkgrey cmt-icon_element-size-md">
              <i class="fa fa-comments"></i><!-- cmt-icon -->
            </div>
          </div>
          <div class="featured-content">
            <!-- featured-content -->
            <div class="featured-desc">
              <!-- featured-title -->
              Talk to an Expert!
            </div>
            <div class="featured-title">
              <!-- featured-desc -->
              <h3> <a href="tel:+918943995533" style="color: white;">+91 8943995533</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
