{% load static %}
<section class="cmt-row fid-section  cmt-bg cmt-bgimage-yes bg-img7 clearfix">
    <div class=" cmt-bg-layer cmt-row-wrapper-bg-layer"></div>
    <div class="container">
        <!--row-->
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 cmt-box-col-wrapper">
                <!-- cmt-fid -->
                <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style1 border-right">
                    <div class="cmt-fid-left d-flex">
                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-xl">
                            <img src="{% static 'web/images/icons/Successful_Projects.svg' %}" alt="">
                        </div>
                        <div class="cmt-fid-contents">
                            <h2 class="cmt-fid-inner">
                                <span  id="number1"  data-appear-animation="animateDigits" 
                                        data-from="0" 
                                        data-to="1000" 
                                        data-interval="15" 
                                        data-before="" 
                                        data-before-style="sup" 
                                        data-after="" 
                                        data-after-style="sub" 
                                        class="numinate">1000
                                </span>
                                <span>+</span>
                            </h2>
                             <h3 class="cmt-fid-title">Successful Projects</h3>
                        </div>
                    </div>
                    <div class="cmt-fid-description">
                        Demonstrating our commitment to delivering reliable water solutions
                    </div>
                </div><!-- cmt-fid end -->
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 cmt-box-col-wrapper">
                <!-- cmt-fid -->
                <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style1 border-right">
                    <div class="cmt-fid-left d-flex">
                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-xl">
                            <img src="{% static 'web/images/icons/Satisfied_Customers.svg' %}" alt="">
                        </div>
                        <div class="cmt-fid-contents">
                            <h2 class="cmt-fid-inner">
                                <span  id="number2"  data-appear-animation="animateDigits" 
                                        data-from="0" 
                                        data-to="900" 
                                        data-interval="15" 
                                        data-before="" 
                                        data-before-style="sup" 
                                        data-after="" 
                                        data-after-style="sub" 
                                        class="numinate">900
                                </span>
                                <span>+</span>
                            </h2>
                             <h3 class="cmt-fid-title"> Satisfied Customers</h3>
                        </div>
                    </div>
                    <div class="cmt-fid-description">
                        Focused on customer happiness and lasting relationships
                    </div>
                </div><!-- cmt-fid end -->
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 cmt-box-col-wrapper">
                <!-- cmt-fid -->
                <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon style1 ">
                    <div class="cmt-fid-left d-flex">
                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-xl">
                            <img src="{% static 'web/images/icons/Years.svg' %}" alt="">
                        </div>
                        <div class="cmt-fid-contents">
                            <h2 class="cmt-fid-inner">
                                <span  id="number3"  data-appear-animation="animateDigits" 
                                        data-from="0" 
                                        data-to="10" 
                                        data-interval="1" 
                                        data-before="" 
                                        data-before-style="sup" 
                                        data-after="" 
                                        data-after-style="sub" 
                                        class="numinate">10
                                </span>
                                <span>+</span>
                            </h2>
                             <h3 class="cmt-fid-title">Years of Industrial Expertise</h3>
                        </div>
                    </div>
                    <div class="cmt-fid-description">
                        Providing tailored solutions to diverse industrial water needs
                    </div>
                </div><!-- cmt-fid end -->
            </div>
        </div>
    </div>
</section>